[main]
rootdir = .
logger_conf = {{rootdir}}/logger.conf
logdir = {{rootdir}}/logs/
workdir = {{rootdir}}/tmp/
expected_exts=".faa .ffn .ptt"
hmmer_cmd = {{rootdir}}/hmmpfam/hmmer-3.1b2-macosx-intel/binaries/hmmscan
hmmer_db = {{rootdir}}/hmmpfam/Pfam-A_mobgenes_201512_prok
hmmer_evalue = 0.0000001
clean_tmpfiles = 1


